.custom-background{
    background-color: #FFFFFF;
  }

.jumbotron-standings {
    background: url('./standings.jpg') no-repeat fixed;
    background-size: cover;
    height: 30rem;
}

tr {
  cursor: pointer;
}

.credit{
  text-align: center;
  font-size: 0.8rem;
  color: gray;
}

a{
  color: blue;
}

.btn-block{
  width: 100%;
}