
nav {
  display: flex;
  background-color: #000000;
  color: white;
  padding-top: 10px;
} 

.navbar-light .navbar-brand {
  color: white;
}

a{
  color: white;
}
   nav li {
    display: inline-block;
    position: relative;
  }

  .nav-effect  {
    color: #FF0000;
  }
  
  .nav-effect:hover {
    color: #FF0000;
  }
    .nav-effect::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #FF0000;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  
  .nav-effect:hover::before {
    width: 85%;
  }

  nav {
    display: flex;
    background-color: #000000;
    color: white;
    padding-top: 10px;
} 