  .carousel-item {
    height: 40rem;
    max-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  }